body {
	font-family:Helvetica, Ariel, sans serif;
	margin:0px;
}

a:link {
	text-decoration:none;
	color:#959099;
}

a:visited {

}

nav ul li a:hover {
	background-color:#ebebeb; 
}

a:active {

}

.wrapper {
	width:960px;
	margin:0px auto;
	max-width:960px;
	width:100%;
	min-height:550px;
	height:100%;
}

header {
	display:inline-block;
	padding-top:20px;
	border-bottom:solid 1px #ebebeb;
	width:100%;
}

header img{
	margin-right:220px;
}

.location {
	float:right;
	padding-top:10px;
}

.location form select {
	border:0;
	background-color:#ebebeb;
	font-family:Helvetica, Ariel, sans serif;
	font-size:11px;
	color:#01abe9;
	padding:5px 0px 5px 3px;
	width:200px;
}

.searchbar {
	float:right;
	padding-top:10px;
	padding-left:5px;
}

.searchbar #search {
	border:0;
	background-color:#ebebeb;
	font-family:Helvetica, Ariel, sans serif;
	font-size:11px;
	color:#01abe9;
	padding:5px 0px 5px 3px;
	width:200px;
}

.searchbar #go{
	display:inline-block;
}

nav {
	width:100%;
	margin-left:0px;
	float:left;
	border-bottom:solid 1px #ebebeb;
	padding:8px 0px 5px 0px; 
}

nav ul {
	margin:0px;
	padding-left:0px;
}

nav ul li {
	display:inline;
	float:left;
}

nav ul li a {
	padding:15px 17px 8px 17px;
	background-color:#fff;
	color:#959099;
	float:left;
	font-size:15px;
	margin-left:10px;
}

.secondary {
	float:right;
	padding-right:0px;
}

.secondary li {
	padding-right:0px;
}

.secondary li a{
	font-size:10px;
	padding:17px 0px 8px 0px; 
	margin:0px 15px;
}

#content {
	padding-top:60px;
	margin-top:32px;
}

h1 {
	text-align:right;
	color:#01abe9;
}

.donateform {
	padding-bottom:20px;
	margin-left:30px;
}

.donateform form input {
	padding:6px 0px 6px 5px;
	width:330px;
	background-color:#ebebeb;
	color:#01abe9;
	font-size:14px;
	border:none;
	margin-bottom:10px;
}

aside {
	width:380px;
	margin:0px 560px 0px 0px;
	padding:0px;
}

aside img {
	margin-left:90px;
}

.illustration {
	float:right;
	padding:50px 0px 0px 0px;
	margin-right:30px;
}

footer {
	border-top:solid 1px #ebebeb;
	text-align:right;
	margin-top:30px;
}

h3 {
	font-size:8px;
	color:#959099; 
	padding-top:5px;
}

.twitter, .gplus, .fb{
	background: url(../sprites/sprites.png) no-repeat;
	text-indent:-99999px;
	display:inline-block;
	float:right;
}

.twitter{
	background-position: -9px -10px ;
	width: 30px;
	height: 30px;
}

.gplus{
	background-position: -109px -9px ;
	width: 30px;
	height: 30px;
}

.fb{
	background-position: -59px -9px ;
	width: 30px;
	height: 30px;
}

}